.field {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 18px;

  }
  
  .field label {
    margin-bottom: 5px;
  }
  
  .flex {
    align-items: center;
  }
  
  .rounded-md {
    border-radius: 0.375rem;
  }